.movie_detail_container {
    width: 60vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie_detail_img {
    width: 40%;
    height: auto;
}

.movie_detail_info {
    width: 45%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.movie_detail_info h2 {
    font-size: 50px;
}

.movie_detail_overview {
    font-size: 25px;
    text-align: justify;
}

.movie_detail_extra_info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 25px;
}

.center_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.movie_detail_info label {
    font-size: 25px;
}

.movie_detail_info ul {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
}

.movie_detail_info ul li {
    width: max-content;
    padding: 5px;
    margin: 2px;
    border: 1px solid;
}

.movie_detail_extra_info_type, .movie_detail_extra_info_company {
    margin-top: 30px;    
}