.movies_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 50px auto;
}

.movie_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    cursor: pointer;
}

.movie_item svg {
    transition: all .5s;
}

.favorite_item {
    fill: red;
}

.movie_item svg:hover {
    fill: red;
    transform: scale(1.1);
}

.movie_item img:hover {
    transform: scale(.9);
}

.movie_item img {
    height: 450px;
    width: 300px;
    margin-bottom: 20px;
    transition: all .5s;
}

.movie_item h3 {
    font-size: 28px;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex90 {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.page_header {
    position: absolute;
    left: 20px;
    top: 5%;
    top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_header h1 {
    width: 50%;
    text-align: center;
}

.header_action {
    width: 25%;
}

.header_action button {
    height: 35px;
    width: 120px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #219ebc;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
    transition: all .5s;
}

.header_action button:hover {
    background-color: #219ebc;
    border: none;
}

.center_loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}